
@font-face {
  font-family: "DM Sans";
  src: url('../assets/fonts/Dm-Sans-SemiBold.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Instrument Serif";
  src: url('../assets/fonts/Instrument-Serif.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
